node_modules
config.json
package.json
package-lock.json
nohup.out
.env
*.tmp
*.ini
*/output/*
*/temp/*
*.csv
*.html
*.htm
*.log
*temp/*.jpg
modules/activity/temp
*modules/activity/temp*
modules/activity/temp*
modules/activity/output
*modules/activity/output*
modules/activity/output*
modules/activity/output/*.png
modules/activity/output/activity.png
